{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Growth Series</title>
    <link rel="stylesheet" href="{% static 'index/index.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'index/photo.jpg' %}" alt="logo" width="80" height="80">
        <section>
            <h1>THE GROWTH SERIES</h1>
            <small>Elevate Edition 2024</small>
        </section>
    </header>
    <div class="opening_container">
        <p id="opening">
            <em>
                "Growth signifies progress and progress is a sign of growth.
                 It implies evolution and it is an ongoing process. Change
                 is inevitable, but growth they say, is optional."
            </em>
        </p>
    </div>
    <div class="text_container">
        <section class="text">
        <h2>The Problem</h2>
        <div>
            <p>
            If you're here chances are you're probably feeling stuck 
            and like you've wasted all available time this year.
            </p>
            <p>
            Chances are you probably had a journal with goals you
            set for this year ("new year resolutions"), but each time
            you look at them you feel disappointed in yourself, for 
            not acheiving the progress you said you would acheive.
            </p>
            <p>
            Chances are you've been taking classes and learning a lot,
            but you're struggling to find the motivation to put it in 
            action. You want to grow, you want to become a better version 
            of yourself, no, you want to become the best version of yourself.
            </p>
            <p> 
            We all do. The Problem? We don't know how. We don't know the right 
            way to follow or maybe we do, but we are finding it hard 
            to implement it. Feeling like giving up? Like these big
            dreams are not just what you're here for?
            </p> 
        </div>
        </section>
    </div>
    <div class="text_container2">
        <section class="text">
        <h2>The Solution</h2>
        <div>
            <p>
            Don't worry, help has arrived. You can still
            make the best out the rest of the year. The 
            good news is your growth can be elevated, if 
            you're willing to accept it. 
            </p>
            <p>
            The Growth Series,2024, is coming to elevate you 
            in a way, you least expect. A three part journey, 
            starting in October, peaking in November and finally coming
            to an end (on a high note, of course) in December.
            </p>
            <p>
            It aims to take a three step method towards helping 
            you grow, which include mindset shifting, awakening
            and discipline building/fortification.
            </p>
            <p> 
            As part of the many activities, there'll also be a 
            book club, to allow you improve your reading and 
            implementation habits (readers are leaders, after all).
            </p>
        </div>
        </section>
    </div>
    <div class="text_container3">
        <section class="text">
        <h2>Register</h2>
        <ul>
            <li>
                October<br/>
                Themed: Awakening<br/>
                Date: 23rd - 25th October
            </li>
            <li>
                November<br/>
                Themed: Fortify<br/>
                Date: 13th - 15th November
            </li>
            <li>
                December<br/>
                Themed: Launchivate<br/>
                Date: 6th - 8th December
            </li>
        </ul>
        <p>
            Who's this for? You! The person who wants
            to become the best version of theirselves.
            <br/>
            Access is free, but registration is compulsory.
            The question is how willing are you to make a
            change?
        </p>
        <a href="https://wa.link/nenk3t">Click to Grow</a>
        </section>
    </div>
    <footer>
        <p>
            &copy; The Growth Series 2024
        </p>
    </footer>
</body>
</html>