{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Growth Series</title>
    <link rel="stylesheet" href="{% static 'index/index.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'index/photo.jpg' %}" alt="logo" width="80" height="80">
        <section>
            <h1>THE GROWTH SERIES</h1>
            <small>Elevate Edition 2024</small>
        </section>
    </header>
    <div class="opening_container">
        <div id="opening">
            <p>
                Imagine starting each day with absolute clarity, 
                a strong sense of purpose, and an unstoppable 
                drive for the rest of 2024.
            </p>
            <p>
                The Growth Series is here  to help you achieve 
                this level of motivation for your journey 
                throughout the rest of 2024 to grow. 
            </p>
            <p>
                This transformative experience is designed to help you:
                <br/>
                - Become Awaken
                <br/>
                - Fortified
                <br/>
                - Launch and Activate.
            </p>
            <p>
                Prepare to enter your season of growth, 
                making the most out of 2024 and stepping 
                into 2025 on a higher level.
            </p>
        </div>
    </div>
   <div class="body">
        <P>
            Growth signifies progress, and progress is a sign of growth. It implies evolution, and growth is an ongoing process.
        </p>
        ELEVATE 2024: THE GROWTH SERIES
        <p>
        Feeling stuck as the year winds down? Every time you revisit the goals you set for 2024 in your journal, you can't help but feel disappointed that you haven't made the progress you hoped for by now.
    
        Sometimes, It's scary to think about the possibility of finishing the year the same way you started it.
    
        You have been taking classes and learning a lot but struggling to find the motivation to put it into action.
    
        Can you relate? Do you feel this way?
    
        Guess what? Despite all this, you can still make the most of the remaining three months of the year. Yes, you can!
    
        Here's some good news for you: your growth can be elevated if you're willing to embrace it.
    
        THE GROWTH SERIES 2024 is coming to elevate you in an unexpected way.
        </p>
        <p>
        The Growth Series is a journey for the last three months of the year: October, November, and December.
        There is a book club accompanied to help improve your reading and implementation habit..
        <ul>
            October's theme is Awakening.
        October 23rd -October 25th
        <br/>
        November's theme is Fortify.
        November 13th - 15th 
        <br/>
        December's theme is Launchivate. December 6th - 8th.
        </ul>
        This is more than just a theme; it can become a description of your next level if you allow it.
        </p>
    
        Who is this series for? Elevate 2024: The Growth Series.
    
        It is for you if you want to embrace the theme and step into your season of growth. It's a season of change for you.
    
        It is for you if you want to make the most of these last three months and step into 2025 at a higher level.
    
        It is for you if you want to shape 2025 exactly the way you want it to be.
    
        It is for you to get awakened and fortified and to launch and activate into your season of growth.
    
        Access is free, but registration is compulsory.
        <p>
            Do you refuse to remain at your current level? Come with expectations and register for ELEVATE 2024: THE GROWTH SERIES.
    
            REGISTER NOW
        </p>
   </div>
    <footer>
        <p>
            &copy; The Growth Series 2024
        </p>
    </footer>
</body>
</html>